.main {
  position: relative;
  border-radius: 30%;
  background: #FF8585;
  transition: border 300ms;
  border-bottom: 1px solid #A82626;
  cursor: pointer;
  pointer-events: auto;
  
  &:active {
    border: 0 !important;
  }

  &_disabled {
    pointer-events: none;
  }
}
