.main {
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 900;
  pointer-events: auto;

  &_clickable {
    cursor: pointer;
  }
}
