.main {
  position: relative;
  border-radius: 20%;
  color: #ffffff;
  font-weight: 900;
  pointer-events: auto;
  cursor: pointer;
  z-index: 0;

  &_disabled {
    pointer-events: none;
  }
  
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: transform 200ms;
    background: #BCFFD7;
    border-radius: 20%;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(34, 0, 135, 0.25);
    opacity: 0;
    border-radius: 20%;
    transition: opacity 200ms;
  }

  &_hovered {
    &::after {
      opacity: 1;
    }
  }

  &_selected {
    .scaleWrap {
      transform: scale(1.08);
    }

    &::before {
      transform: scale(1.3);
    }
  }
}

.scaleWrap {
  width: 100%;
  height: 100%;
  transition: transform 200ms;
}

.background {
  border-radius: 20%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}
