.main {
  position: relative;
}

.scores {
  position: absolute;
  left: 30%;
  top: 85%;
  width: 40%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  color: #000;
  border-radius: 50%;
  background: #fff;
}
